body {
    font-family: 'Inconsolata', monospace;
    display: flex;
}

ol {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.content {
    position: absolute;
    display: flex;
    color: azure;
    width: 98%;
}

.button {
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    flex: 1;
    margin: 0.6em;
    max-height: 2em;
    height: 2em;
}

.button.move {
    border: 1px dashed azure;
    stroke: azure;
    background-color: #8b24cd;
}

.button.capture {
    border: 1px dashed azure;
    color: chartreuse;
    background-color: #090909;
}

.button.logout {
    border: 1px dashed azure;
    color: azure;
    background-color: darkred;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: space-evenly;
}

.game-column {
    background: transparent;
    flex-direction: column;
    margin-right: 0.5em;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-column {
    background: transparent;
    flex-direction: column;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex: 0 0 16em;
    display: flex;
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column.planet {
    margin: 0 1em 0 1em;
}

.column.beacon {
    margin: 2em 1em 2em 1em;
    display: flow-root;
}

.column.port {
    margin: 2em 1em 2em 1em;
    display: flow-root;
}

.column.sector {
    margin: 2em 1em 2em 1em;
    display: flow-root;
}

.column.players {
    margin: 2em 1em 2em 1em;
    display: flow-root;
}

.sector-number {
    font-weight: bold;
    font-size: 1.2em;
}

.planet-unowned {
    height: 4em;
    width: 4em;
    margin: 1em;
}

.planet-owned {
    height: 4em;
    width: 4em;
    margin: 1em;
}

.planet-name {
    font-size: 1em;
    color: azure;
    font-weight: bold;
}

.form {
    display: flex;
    align-self: center;
    font-size: 1.2em;
}

.label.move {
    width: 6em;
}

.links-container {
    display: flex;
}

.links li {
    list-style-type: none;
}

.links li a {
    font-weight: bold;
    color: chartreuse;
    font-size: 1.2em;
}

.links-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.scheduler {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 0.5em;
    max-height: 2em;
    height: auto;
}

/* BG animations start */

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.stars {
    background: black url("img/stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("img/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
}

/* BG animations end */