<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>{{ title }}</title>
    <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous">

    </script>
    <script>
        function updateInitial(_start) {
            let seconds = $('.scheduler-seconds');
            if (_start <= 0) {
                seconds.html("&#128119;");
            } else {
                seconds.html(_start);
            }
        }

        function schedulerTicker(_start, _max) {
            let seconds = $('.scheduler-seconds');
            setInterval(function () {
                if (--_start <= 0) {
                    seconds.html("&#128119;");
                    _start = _max;
                } else {
                    seconds.html(_start);
                }
            }, 1000);
        }
    </script>
</head>
<body>
<div class="background-container">
    <div class="stars"></div>
    <div class="twinkling"></div>
</div>
<div class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>