{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
    <div class='game-column'>
        {{ status }}
        {% if sector is not none %}
            <div class="row">
                <div class="column sector">Sector: <span class="sector-number">{{ sector.id }}</span></div>
            </div>
        {% endif %}
        {% if sector is not none and sector.beacon is not none and sector.beacon|length %}
            <div class="row">
                <div class="column beacon">{{ sector.beacon }}</div>
            </div>
        {% endif %}
        {% if sector is not none and port is not none %}
            <div class="row">
                <div class="column port">Port in this sector: {{ port.serialize()['type'] }}</div>
            </div>
        {% endif %}
        {% if planets|length > 0 %}
            <div class="row">
                {% for planet in planets %}
                    {% if planet.owner == none %}
                        <div class="column planet">
                            <img class="planet-unowned"
                                 src="{{ url_for('static', filename='img/planet_unowned.svg') }}">
                            <button type="button" class="button capture"
                                    onclick="window.location='/play?capture={{ planet.id }}'">
                                Capture
                            </button>
                        </div>
                    {% else %}
                        <div class="column planet">
                            <img class="planet-owned"
                                 src="{{ url_for('static', filename='img/planet_owned.svg') }}">
                            <span class="planet-name">{{ planet.name }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if visible_players is not none %}
            <div class="row">
                <div class="column players">Other players in this sector: {{ visible_players }}</div>
            </div>
        {% endif %}
    </div>
    <div class="action-column">
        <button type="button" class="button logout" onclick="window.location='/logout'">Logout</button>
        <div class="scheduler">Next update in: <span class="scheduler-seconds"></span></div>
        <div class="form navigate">
            <form action="#" method="get">
                <label>
                    <input class="label move" type="text" placeholder="0" name="move"/>
                </label>
                <input class="button move" type="submit"
                       onclick="$(window.location).attr('href', '/play?move=' + $('input[name=move]').val())"
                       value="MOVE"/>
            </form>
        </div>
        {% if links is not none and links|length %}
            <div class="links-container">
                <span class="links-title"
                      title="{{ strings['warp_links_alt'] }}">{{ strings['warp_links_title'] }}</span>
                <ol class="links">
                    {% for link in links %}
                        <li><a href='./play?move={{ link.to }}'>=> {{ link.to }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    </div>
    <script>
        updateInitial({{ scheduler_update_in }});
        schedulerTicker({{ scheduler_update_in }}, {{ scheduler_interval }});
    </script>
{% endblock %}